<table>
  <tbody>
    <tr>
      <td>
        <span> {{ courseName }} </span>
      </td>
      <td>
        <strong> {{ courseName }} </strong>
      </td>
      <td>
        <strong> {{ cityName }} </strong>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" [value]="courseName">
      </td>
      <td>
        <p [class]="className">This is Para</p>
      </td>
      <td>
        <input [type]="inoutType">
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="showWelcomeMessage()">Show Message</button>
      </td>
      <td>
        <select (change)="onStateChanged()">
          <option>Pune</option>
          <option>Mumbai</option>
          <option>Nagpur</option>
          <option>Jaipur</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" [(ngModel)]="courseName">
      </td>
    </tr>
  </tbody>
</table>
